@page
@model CustomerWebApp.Pages.searchModel
@{
    ViewData["Title"] = "Search for a Room";
}

<h2>Search for a Room</h2>

<form method="post">
    <div class="form-group">
        <label>Room Size (Number of Beds)</label>
        <input asp-for="RoomSize" type="number" class="form-control" min="1" />
    </div>

    <div class="form-group">
        <label>Room Type</label>
        <select asp-for="RoomType" class="form-control">
            <option value="">-- Select Room Type --</option>
            <option>Single</option>
            <option>Double</option>
            <option>Suite</option>
        </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Search</button>
    <button onclick="location.href='/Status'">Check Booking Status</button>

</form>

@if (Model.SearchResults != null)
{
    <h3 class="mt-4">Available Rooms:</h3>
    @if (Model.SearchResults.Any())
    {
        <ul>
            @foreach (var result in Model.SearchResults)
            {
                var availableUntil = result.AvailableUntil.HasValue
                    ? $"Available until {result.AvailableUntil.Value.ToShortDateString()}"
                    : "No current bookings";

                var rT = Model.GetRoomType(result.Room.RoomType);
                <li>
                    Type: @rT, Size: @result.Room.RoomSize beds, @availableUntil
                    <a href="/booking?roomNumber=@result.Room.RoomNumber">Book</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No rooms found matching your criteria.</p>
    }
}
